@import "./reset.scss";
@import "./notifications.scss";
@import "./chat.scss";
@import "./login.scss";
@import "./canvas.scss";
@import "./board.scss";
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .body__loginInput,
  .body__gameContainer,
  .body__canvasContainer,
  .body__boardContainer {
    display: none;
  }
  // &.loggedOut {
  //   .body__loginInput {
  //     display: block;
  //   }
  // }
  // &.loggedIn {
  //   .body__greetingText {
  //     display: block;
  //   }
  // }
}

.loggedOut {
  .body__loginInput {
    display: block;
  }
}

.loggedIn {
  .body__gameContainer {
    display: block;
  }
  .body__canvasContainer {
    display: block;
  }
  .body__boardContainer {
    display: block;
  }
}
