<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        link(rel="stylesheet", href="styles/styles.css")
    body.loggedOut
        .body__loginInput
            form#jsForm
                input(type="text" placeholder="Whats Your Name")#jsInput
                input(type="submit", value="SUBMIT")#jsSubmit
        .body__gameContainer
            h1 WELCOME
            div#jsNotifications
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")
        script.
            window.events = !{events}
        
            