<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous")
        link(rel="stylesheet", href="styles/styles.css")
    body.loggedOut
        .body__loginInput
            form.loginInput__form#jsForm
                input(type="text" placeholder="Whats Your Name").form__nameInput#jsInput
        .body__gameContainer
            .gameContainer__chat
                .chat__chats
                    ul#jsChatUl
                .chat__input
                    form#jsSendTextForm.input__form
                        input(type="text").form__sendText#jsSendText
                        //- input(type="submit" value="Send").form__submit
            .gameContainer__notification#jsNotifications
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")
        script.
            window.events = !{events}
        
            